<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="container" ng-controller="ItemsController">
  <h1>Items</h1>

  <div class="text-right">
    <a class="btn" href="#/items/create">Create New</a>
  </div>

	<table class="table table-striped">
  	<tbody>
      <tr>
      	<th>S.No.</th>
      	<th>Name</th>
      	<th>Rate</th>
      	<th>Created</th>
      	<th></th>
    	</tr>
    	<tr ng-repeat="item in items.data">
      	<td>{{$index+1}}</td>
      	<td>{{item.name}}</td>
      	<td>{{item.rate}}</td>
      	<td>{{item.created}}</td>
      	<td>
      	<a class="btn btn-sm btn-info" ng-href="#/items/edit/{{item.id}}">Edit</a>
      	<a class="btn btn-sm btn-danger" ng-href="#" ng-click="confirmDelete($index);">Delete</a>
      	</td>
    	</tr>
  	</tbody>
  </table>
</div>

<div ng-include="'app/components/footer/footer.html'"></div>
